.DS_Store
node_modules
/dist
helm-chart
public
tests
sonar-project.properties
vue.config.js
skaffold.yaml
README.md
jest.config.js
Dockerfile
babel.config.js
.eslintrc.js
.browserslistrc
atuq
src/views/deforestation/supplierModule/reports/components/eudr/DisputesDialog.vue

# local env files
.env
.env.local*
.env.*.local
*.env.development*
*.env.production*
*.env.uat*
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.python-version